body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffcb05;
  color: #1d1d1d;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffcb05;
}

main {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
}

img{
    width: 958px;
}

#Logo{
    width: 140px;
    padding-top: 0px;
}