.Ulmenu {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

a{
    background-color: green;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 10px 17px;
    border-radius: 22px;
    border: 2px solid black;
}

a:hover {
    color: blue;
}

header {
    background-color: rgb(52, 145, 199);
    height: 100px;
}

