.Ulmenu {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

a{
    background-color: green;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid black;
}

a:hover {
    color: blue;
}

header {
    background-color: rgb(52, 145, 199);
    height: 100px;
    gap: 10px;
}

a {
    font-size: var(--tamanhoLink);
    text-decoration: none;
    color: #fff;
    text-align: center;
}


@media screen and (min-width: 601px) {
    .imgMobile {
        display: none;
    }
}

@media screen and (max-width:600px) {
    header {
        position: fixed;
        width: 100px;
        height: 100vh;
    }

    a {
        font-size: var(--tamanhoLinkMobile);
        text-decoration: solid;
    }

    .imgMobile {
        display: inline;
        width: 80px;
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
}

@media print { /* Regra para impressoras */
    header {
        display: none;
    }
}