body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
main {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
  }
  
.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

.principal{
    width: 958px;
}

.torre{
    width: 150px;
}